<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasarela - Login</title>
    <link rel="stylesheet" href="public/css/login.css">
    <script type="module" src="./public/js/login.js"></script>
</head>
<body>
    <main>
        <h1>Bienvenido a la Pasarela</h1>
        <form action="#" method="post" class="loginForm">
          <p class="error_display"></p>
            <input type="text" name="username" id="inp_username"  placeholder="Usuario">
            <input type="password" name="passwd" id="inp_passwd" placeholder="Contraseña">
            <button type="button" class="login_button">Iniciar Sesión</button>
        </form>
        
    </main>
</body>
</html>