:root {
  --bg: #fffded;
  --neutral-100: #f8f4e3;
  --neutral-200: #e5dfc5;
  --neutral-300: #c4bda8;
  --primary: #d4a373;
  --primary-acc: #faedcd;
  --primary-tint-20: #f5e5d0;
  --primary-tint-40: #f0ddb5;
  --primary-shade-20: #a87d56;
  --secondary: #aab38e;
  --secondary-acc: #e9edc9;
  --secondary-strong: #88965f;
  --tertiary: #c9c19d;
  --tertiary-acc: #f2efdf;
  --highlight: #fff3d6;
  --text-on-primary-acc: #5e4a32;
  --alert: #b01e1e;
  /* Sombras */
  --shadow-b: #00000030;
  --shadow-p: #a87d5630;
  /* Codes */
  --c0: #799231;
  --c1: #b01e1e;
  --c2: #f2ac2b;
}

@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprum.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cuprum;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease;
}

body {
  margin-inline: auto;
  background: var(--bg);
  width: 100dvw;
  max-width: 1400px;
  height: 100dvh;
  display: grid;
  grid-template-columns: 80px repeat(2, 1fr);
  grid-template-rows: 80px repeat(2, 1fr);
  grid-template-areas:
    "logo menu  menu"
    "main main main"
    "main main main";
  gap: 20px;
  padding: 20px;

  & > * {
    background: var(--primary-acc);
    border-radius: 20px;
    box-shadow: 0 0 10px 1px var(--shadow-b);
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

.logo {
  grid-area: logo;

  & img {
    width: 100%;
  }
}

menu {
  grid-area: menu;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  & .clases {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & button {
      font-size: 22px;
      font-weight: 600;
      background: var(--primary-shade-20);
      padding: 8px 10px;
      border-radius: 15px;

      &:hover {
        box-shadow: 0 0 10px 5px var(--shadow-b);
        background: var(--text-on-primary-acc);
      }
    }
  }

  & .account {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 5px;

    & .logout_btn {
      &:hover {
        filter: drop-shadow(0 0 5px var(--secondary));
        color: var(--secondary);
      }
    }
  }
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;

  &.viewer {
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 1fr;
    padding: 15px;

    & .action_bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--primary-tint-40);
      padding: 15px;
      border-radius: 10px;

      & .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        & button {
          font-size: 18px;
          font-weight: 600;
          padding: 8px 12px;
          background: var(--secondary);
          box-shadow: 0 0 5px 1px var(--shadow-b);
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            background: var(--secondary-strong);
          }
        }
      }
    }

    & .hosts_grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(100px, auto);
      gap: 20px;
      height: 100%;

      & .host {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        cursor: pointer;

        &.code0 > svg {
          color: var(--c0);
        }
        &.code1 > svg {
          color: var(--c1);
        }
        &.code2 > svg {
          color: var(--c2);
        }
      }
    }

    & .map_legend {
      display: flex;
      justify-content: space-around;
      align-items: center;

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        &.code0 > svg {
          color: var(--c0);
        }
        &.code1 > svg {
          color: var(--c1);
        }
        &.code2 > svg {
          color: var(--c2);
        }
      }
    }
  }

  &.settings {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    height: 100%;
    align-items: start;

    & .add_user_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      color: var(--primary-shade-20)
    }

    & .user {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
    }
  }
}

/* Errores y Displays */

.display,
.alert,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--shadow-b);
  cursor: pointer;
}

.alert {
  z-index: 12;
  padding: 10px;
  background: var(--primary-tint-40);
  border-radius: 15px;
  box-shadow: 0 0 10px 1px var(--neutral-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 250px;

  & h3 {
    color: var(--alert);
    font-size: 20px;

    &.loading {
      padding-inline: 10px;
      color: black;
    }
  }

  & p {
    font-size: 18px;
    max-width: 60%;
    text-align: center;
  }

  & .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    & button {
      font-size: 17px;
      padding: 5px 10px;
      background: var(--primary-shade-20);
      border-radius: 10px;
      box-shadow: 0 0 10px 1px var(--shadow-b);

      &.cancel_btn {
        background: var(--primary-tint-20);

        &:hover {
          background: var(--primary-tint-40);
        }
      }

      &:hover {
        background-color: var(--primary);
        box-shadow: 0 0 10px 1px var(--shadow-p);
      }
    }
  }
}

.error {
  z-index: 13;
  padding: 10px;
  background: var(--primary-tint-40);
  border-radius: 15px;
  box-shadow: 0 0 10px 1px var(--neutral-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  & h4 {
    color: var(--alert);
    font-size: 20px;
  }

  & button {
    padding: 8px 12px;
    background: var(--primary-shade-20);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px var(--shadow-b);
  }
}

/* Loaders */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat
    radial-gradient(farthest-side, var(--primary-shade-20) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

/* Overlay transparente para capturar clicks y oscurecer ligeramente */
.back.radial-back {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
}

/* Contenedor del menú en columna (context-menu) */
.context-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--primary-acc);
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--shadow-b);
  padding: 5px 0;
  z-index: 21;
  max-width: 200px;
  height: fit-content;

  & .ctx-btn {
    background: none;
    border: none;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background 200ms;

    &:hover {
      background: var(--primary-tint-40);
    }

    &.warning:hover {
      color: var(--alert);
      font-weight: 600;
    }
  }
}

.context-menu-form {
  padding: 16px 12px;

  & input {
    background: var(--bg);
    padding: 5px 10px;
    border-radius: 8px 8px 2px 2px;
    border: none;
    border-bottom: 1.5px solid var(--primary);
    caret-color: var(--primary);
    outline: none;
    transition: all 300ms ease;
    font-size: 16px;
    
    &.error {
      caret-color: var(--alert);
      border-bottom: 1.8px solid var(--alert);
      color: var(--alert);
    }
  }

  & .create_user_btn {
    padding: 5px 8px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    align-self: center;
    width: fit-content;
    background: var(--primary);
    box-shadow: 0 0 5px 1px var(--shadow-b);

    &:hover {
      background: var(--primary-shade-20);
    }
  }

}
